* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Overpass';
}

:root {
    --primary-color: #FF2626;
    --darkRed-color: #BD1616;
    --accent2-color: #FFE6E6;
    --accent3-color: #9AC8CD;
    --secondary-tint: #F3F8FF;
    --dark-color: #050000;
    --negative-color: #FF4E4E;
    --darkgrey-color: #444444;
    --lightygrey-color: #D9D9D9;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.cabin {
    font-family: Cabin;
}

main {
    overflow: scroll;
    scrollbar-width: none;
}

.outReach-container {
    background-color: var(--plane-color);
    width: fit-content;
    height: 100%;
    border-radius: 24px;
    color: var(--dark-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    scrollbar-width: none;
}

.outReachRow2 {
    display: flex;
    gap: 16px;
    width: 100%;
    height: fit-content;
}

.outReachRow2 input,
.outReachRow2 select {
    background-color: var(--plane-color);
    border: 1px solid var(--lightygrey-color);
    padding: 8px;
    border-radius: 3px;
}

.outReachRow3{
    overflow: scroll;
    scrollbar-width: none;
}

.outreachlabels {
    font-size: 14px;
    color: var(--darkgrey-color);
    background-color: var(--lightygrey-color);
    border-radius: 4px;
}

.outreachlabels,
.outreachdataRows {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: fit-content;
}

.companyName {
    width: 14rem;
}

.representative {
    width: 12rem;
}

.outReachContact {
    width: 10rem;
}

.outReachemail {
    width: 16rem;
}

.outReachLocation {
    width: 16rem;
}

.additional {
    width: 12rem;
}

.outReach-container hr {
    width: 100%;
    color: var(--textfieldgray-color);
    border: 1px solid var(--textfieldgray-color);
}